section{
  background: #ffffff url("/img/food\ \(1\).jpg") no-repeat center center/cover ;
}
.food{
     padding-top: 70px;
     height: 100vh;
}
.food-box {
     padding-top: 100px;
     background-color: #f7f7f7;
     border-radius: 5px;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
     padding: 20px;
     width: 30%;
     margin: auto 45%;
     opacity: 80%;
   }
   
   .form-group {
     margin-bottom: 20px;
   }
   
   label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
   }
   
   input[type="text"] {
     width: 80%;
     display: block;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   input[type="tel"]{
    width: 80%;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   #foods{
    margin-left: 10px;
   }
   input[type="number"]{
    width: 80%;
    display: block;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   #liveToastBtn{
    margin: 0 0 0 70px;
    width: 60%;

   }

   button[type="submit"]:hover {
     background-color: #3e8e41;
   }
   
   footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .icon {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #222;
  }
  
  .icon i {
    font-size: 20px;
  }
  

  .copyright {
    margin-top: 20px;
    font-size: 14px;
  }