section{
     background: #ffffff url("/img/vol.jpg") no-repeat center center/cover ;
     background-position-x: right ;
     
}
.log{
     padding-top: 70px;
     height: 105vh;
}
.log-box {
     padding-top: 100px;
     background-color: #f7f7f7;
     border-radius: 5px;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
     padding: 20px;
     width: 30%;
     margin: auto 55%;
     opacity: 90%;
   }
   
   .form-group {
     margin-bottom: 20px;
   }
   
   label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
   }
   input[type="email"] {
     width: 100%;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   
   input[type="text"] {
     width: 100%;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
   input[type="tel"] {
     width: 100%;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #ccc;
   }
  #proof2{
     display: block;
  }
   #url{
     display: block;
   }
   
   button[type="submit"] {
     background-color: #4CAF50;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
   }
   
   button[type="submit"]:hover {
     background-color: #3e8e41;
   }
   #liveToastBtn{
     margin: 0 0 0 70px;
    width: 60%;
   }

   footer {
     background-color: #222;
     color: #fff;
     padding: 20px;
     text-align: center;
   }
   
   .container {
     max-width: 1200px;
     margin: 0 auto;
   }
   
   .social-icons {
     display: flex;
     justify-content: center;
   }
   
   .icon {
     display: inline-block;
     background-color: #fff;
     border-radius: 50%;
     margin: 0 10px;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     color: #222;
   }
   
   .icon i {
     font-size: 20px;
   }
   

   .copyright {
     margin-top: 20px;
     font-size: 14px;
   }